html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #44464a;
  background: cornsilk;
}
* {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}
html,
header {
  font-family:"Omnium Wide"
}
body {
  margin: 0;
  padding: 0;
  font-family: "Aktiv Grotesk Ex", Arial, Helvetica, sans-serif;
  color: #44464a;
}
h1, h2, h3 {
  font-family: "Bebas Neue", serif;
}

.wrapper {
  text-align: center;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  background: url(Images/DSC_0218.JPG);


}
.card {
  text-align: center;
  background: blanchedalmond;
  padding: 16px;
}
main {
  background: burlywood;
  padding: 16px;
}
@media (min-width: 600px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 600) {
  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
  }
}
@media (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  header,
  footer {
    grid-column-start: 1;
    grid-column-end: 5;
    background: #fff;
  }
  main {
    grid-column-start: 2;
    grid-column-end: 4;
  }


}