body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aktiv Grotesk Ex", Arial, Helvetica, sans-serif;
  color: #44464a;
  background: url(Images/DSC_0218.JPG);
  background-repeat: no-repeat;
  background-position: -200px;
  background-size: cover;
  background-attachment: fixed;
}
* {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}
header {
  margin: 0;
  padding: 0;
  font-family:"Omnium Wide";
  height: 200px;

}
body {
  margin: 0;
  padding: 0;
  font-family: "Aktiv Grotesk Ex", Arial, Helvetica, sans-serif;
  color: #44464a;
  background: url(Images/DSC_0218.JPG);
  background-repeat: no-repeat;
  background-position: -200px;
  background-size: cover;
  background-attachment: fixed;
  
}
h1, h2, h3 {
  font-family: "Bebas Neue", serif;
  text-align: center;
  background: blanchedalmond;
  padding: 16px;
}

.wrapper {
  text-align: center;
  text-decoration-color: beige;
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .4);
  min-height: 150px;
  

}
.card {
  text-align: center;
  background: blanchedalmond;
  padding: 16px;
}
main {
  background: burlywood;
  padding: 16px;
}
@media (min-width: 600px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 16px;
  }
}
@media (min-width: 600) {
  .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8px;
  }
}
@media (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }
  header,
  footer {
    grid-column-start: 1;
    grid-column-end: 5;
  
  }
  main {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  #image {
    image-orientation: from-image;
  }
}